<h1>{{string('new_product')}}</h1>

<form ng-submit="save">
    <div class="form-group">
        <label for="nameInput">{{string('name')}}</label>
        <input id="nameInput" type="text" class="form-control" placeholder="{{string('name')}}" ng-model="newProduct.name"/>
    </div>
    <div class="form-group">
        <label for="categoryInput">{{string('category')}}</label>
        <input id="categoryInput" type="text" class="form-control" placeholder="{{string('category')}}" ng-model="newProduct.category"/>
    </div>
    <button class="btn btn-primary">{{string('save')}}</button>
</form>
