<h1>Categories</h1>

<form ng-if="currentUser.role === 'admin'" class="form-inline" ng-submit="create()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Name" ng-model="newCategory.name"/>
    </div>
    <button class="btn btn-primary">Create</button>
</form>
<hr/>
<input type="text" class="form-control" placeholder="Filter..." ng-model="categoriesFilter"/>
<div class="container-fluid content-list">
    <div ng-if="categories.length > 0" class="row">
        <div class="col-xs-5"><b>Name</b></div>
        <div class="col-xs-7"><b>Actions</b></div>
    </div>
    <div class="row" ng-repeat="category in categories | filter: categoriesFilter">
        <div class="col-xs-5">
            {{category.name}}
        </div>
        <div class="col-xs-7">
            <span id="admin-controls" ng-if="currentUser.role === 'admin'">
                <button class="btn btn-danger" ng-click="delete(category._id)">Delete</button>
            </span>
        </div>
    </div>
</div>
<p ng-if="categories.length === 0">No categories yet! You can add one.</p>
